@use '../../../scss' as *;

.career {

  .culture {
    padding-block: 3rem;

    &__title {
      font-weight: 400;
      font-size: 26px;
      margin-bottom: 2rem;

      @include tablet {
        padding-inline: 6rem;
      }
      @include mobile {
        padding: 0;
      }
    }

    .mission {
      @include tablet {
        flex-flow: column;
        justify-content: center;
        padding-inline: 6rem 3rem;
      }
      @include mobile {
        padding-inline: 1rem 0;

        .pr3 {
          padding: 0;
        }
      }

      &__title {
        display: block;
        font-weight: 600;
        font-size: 22px;
      }

      &__desc {
        max-width: 80%;
        line-height: 1.5;
        margin-bottom: 2rem;

        @include tablet {
          max-width: 100%;
        }
      }

      &__list {
        display: flex;
        flex-flow: column;
        gap: 1rem;

        @include tablet {
          margin-bottom: 4rem;
        }

        .item {
          line-height: 1.5;
          color: var(--txt-color);

          &::before {
            width: 6px;
            height: 6px;
            content: '';
            margin-right: 12px;
            margin-bottom: 2px;
            border-radius: 50%;
            background: var(--main-color);
          }

          strong {
            display: inline-block;
            font-weight: 600;
          }
        }
      }

      &__imgs {

        .desc {
          line-height: 1.5;
          margin-bottom: 3rem;

          .link {
            text-decoration: underline;
            padding-left: 6px;
            color: var(--main-color);
          }
        }
      }
    }

    &__wrapper {
      padding-top: 4rem;

      @include tablet {
        flex-flow: column;
      }

      .img {
        width: 500px;
      }

      .titles {
        padding-left: 10rem;

        @include breakpoint-down(1300px) {
          padding-left: 5rem;
        }
        @include tablet {
          width: 70%;
          padding-left: 0;
        }

        .title {
          font-size: 42px;
          margin-bottom: 2rem;

          @include mobile {
            font-size: 24px;
          }
        }
        .desc {
          line-height: 1.6;
          margin-bottom: 2rem;
        }

        .btn {
          color: var(--txt-color);
        }
      }
    }
  }
}