@use '../../../scss' as *;

.career {

  .volunteer {
    padding-block: 3rem;

    &__title {
      font-weight: 400;
      font-size: 42px;
      margin-bottom: 3rem;

      @include tablet {
        width: 70%;
        font-size: 34px;
        margin: 0 auto 2rem;
      }
      @include mobile {
        width: 100%;
        font-size: 24px;
      }
    }

    &__inner {
      gap: 5rem;

      @include tablet {
        width: 70%;
        flex-flow: column;
        justify-content: center;
        gap: 0;
        margin: 0 auto;
      }
      @include mobile {
        width: 100%;
      }
    }

    .img {
      width: 550px;
      margin-bottom: 1rem;

      @include tablet {
        width: 100%;
      }
    }

    .descs {
      width: 100%;

      .desc {
        line-height: 1.6;
        margin-bottom: 2rem;
      }
    }
  }
}