@use 'src/scss/index' as *;

.offices {
  display: grid;
  grid-template-columns: 1fr 1.2fr;

  @include tablet {
    grid-template-columns: 1fr;
  }

  &__inner {
    padding-top: 4rem;
    padding-left: 5rem;
    padding-right: 10px;
    background: $gray-color;

    @include tablet {
      padding-bottom: 3rem;
    }
    @include mobile {
      padding-left: 2rem;
    }
  }

  &__titles {

    .title {
      font-weight: 400;
      font-size: 26px;
      margin-bottom: 3rem;
    }
  }

  &__office {
    padding-right: 6rem;

    .txt {
      font-size: 20px;
    }

    .icon {
      font-size: 24px;
      color: $main-color;
    }
  }

  &__wrapper {
    padding-top: 7rem;
    padding-left: 5rem;
    padding-bottom: 5rem;

    @include tablet {
      padding-top: 3rem;
    }
    @include mobile {
      padding-left: 2rem;
    }

    .txt {
      font-size: 20px;
      margin-bottom: 2rem;
    }

    .list {

      .item {
        width: 50%;
        height: 54px;
        padding-right: 2rem;
        overflow: hidden;
        transition: height 0.3s ease;

        @include mobile {
          width: 100%;
        }

        &.active {
          height: 181px;
        }

        .bor {
          cursor: pointer;
          border-bottom: 1px solid #8F9B9E;
        }

        &__title {
          font-size: 18px;
          padding-block: 1rem;
        }

        .icon {
          color: $main-color;
          transition: transform 0.3s ease;

          &.active {
            transform: rotate(90deg);
          }
        }

        .clicked {
          padding-block: 42px 2rem;

          &.active {
            border-bottom: 1px solid #8F9B9E;
          }

          .link {
            display: block;
            font-weight: 500;
            font-size: 14px;
            margin-bottom: 10px;
            color: $txt-color;
          }
        }
      }
    }
  }
}