@use 'src/scss/index' as *;

.services-titles {
  text-align: center;
  padding-block: 4rem;

  .width {
    max-width: 60%;
    margin: 0 auto;

    @include mobile {
      max-width: 100%;
    }
  }

  .title {
    font-weight: 400;
    font-size: 62px;
    line-height: 1.3;
    margin-bottom: 4rem;

    @include tablet {
      font-size: 42px;
      margin-bottom: 3rem;
    }
    @include phone {
      font-size: 28px;
    }
  }
  .desc {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 2.5rem;
  }

  .btn {
    width: 60%;
    font-weight: 600;
    padding: 1.2rem;
    border-radius: 30px;
    color: var(--txt-color);

    @include mobile {
      width: 100%;
      padding: 1rem;
    }
  }
}
