@use '../../../scss' as *;

.resources {

  .blogs {

    &__img {
      min-height: 400px;
      max-height: 600px;
      display: block;
      margin: 0 auto;
      object-fit: cover;

      @include tablet {
        min-height: 300px;
      }
      @include phone {
        min-height: 200px;
      }
    }

    &__titles {
      display: grid;
      grid-template-columns: 1fr 1.4fr;
      gap: 7rem;
      padding: 6rem 7rem 5rem;
      margin-bottom: 2rem;
      background: var(--gray-color);

      @include tablet {
        grid-template-columns: 1fr;
        gap: 4rem;
      }
      @include breakpoint-down(900px) {
        padding: 3rem;
        gap: 2rem;
      }
      @include phone {
        padding-inline: 2rem;
      }

      .title {
        font-weight: 400;
        font-size: 42px;

        @include mobile {
          font-size: 34px;
        }
        @include phone {
          font-size: 24px;
        }
      }

      .desc {
        font-size: 22px;
        line-height: 1.5;

        @include phone {
          font-size: 18px;
        }
      }
    }

    &__news {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 1.5rem;
      margin-bottom: 2rem;

      @include tablet {
        grid-template-columns: 1fr;
      }

      .item {
        padding: 2.5rem 2rem 2rem;
        background: var(--gray-color);

        &__date {
          margin-bottom: 10px;
        }

        &__title {
          font-weight: 500;
          font-size: 22px;
          line-height: 1.4;
          margin-bottom: 1rem;

          @include phone {
            font-size: 18px;
          }
        }
        &__desc {
          line-height: 1.4;
          margin-bottom: 2rem;
        }
      }
    }

    &__clouds {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      padding-bottom: 4rem;

      @include tablet {
        grid-template-columns: 1fr;
        gap: 3rem;
      }

      .item {

        &__img {
          width: 100%;
          height: 30vw;
          display: block;
          margin: 0 auto;
          object-fit: cover;

          @include mobile {
            height: 55vw;
          }
        }

        &__inner {
          height: 320px;
          padding: 3rem 2rem 2rem;
          background: var(--gray-color);

          @include mobile {
            padding-top: 2rem;
          }

          .date {
            margin-bottom: 10px;
          }

          .title {
            font-weight: 500;
            font-size: 22px;
            line-height: 1.4;
            margin-bottom: 1rem;

            @include phone {
              font-size: 18px;
            }
          }
          .desc {
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;

            line-height: 1.4;
            margin-bottom: 3rem;
          }
        }
      }
    }
  }
}