@use '../../scss' as *;

.crayon-platforms {
  padding-block: 4rem;

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    @include tablet {
      grid-template-columns: 1fr;
    }
    
    .item {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      padding-bottom: 1rem;
      background: var(--gray-color);

      &__img {
        width: 100%;
        height: 20vw;
        margin-bottom: 1rem;
        object-fit: cover;

        @include tablet {
          height: 40vw;
        }
        @include phone {
          height: 60vw;
        }
      }

      .sub {
        display: block;
        font-weight: 500;
        padding-left: 2rem;
      }

      &__title {
        font-weight: 500;
        font-size: 20px;
        padding-left: 2rem;
        padding-right: 10px;
        margin-bottom: 2rem;
      }

      &__desc {
        line-height: 1.5;
        padding-left: 2rem;
        padding-right: 10px;
        margin-bottom: 2rem;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}