@use "./scss" as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --main-color: #FF370F;
  --secondary-color: #04242D;
  --txt-color: #04242D;
  --gray-color: #F8F8F6;
  --body-bg: #fff;
}

body {
  font-family: $font-family;
  color: var(--txt-color);
  background: var(--body-bg);
}

.sub {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: var(--main-color);
}

.dotted::after {
    content: '.';
    font-size: 100px;
    line-height: 0;
    margin-left: 6px;
    color: var(--main-color);
}
.dot {
  &::before {
    width: 6px;
    height: 6px;
    content: '';
    margin-right: 12px;
    margin-bottom: 2px;
    border-radius: 50%;
    background: var(--main-color);
  }
}
.double-dot {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 2rem;

  @include phone {
    font-size: 18px;
  }

  &::before, &::after {
    width: 20px;
    height: 20px;
    content: '';
    margin-right: 2rem;
    border-radius: 50%;
    background: var(--main-color);
  }
  &::after {
    position: absolute;
    top: 0;
    left: 22px;
  }

  span {
    font-weight: 600;
  }
}

.numeric li {
  position: relative;
  list-style-type: none;
  counter-increment: list;
  padding-left: 1rem;

  &::before {
    position: absolute;
    top: 5px;
    left: 0;
    width: 1rem;
    content: counter(list) '.';
    text-align: right;
    color: var(--main-color);
  }
}


// btns
.read-more {
  width: fit-content;
  font-weight: 500;
  color: var(--main-color);

  &::after {
    position: relative;
    top: -2px;
    width: 100%;
    height: 2px;
    content: '';
    background: var(--main-color);
  }
}

.btn {
  padding: 10px 2rem;
  border-radius: 20px;
  border: 2px solid var(--main-color);
  color: #fff;
  background: transparent;
  transition: color 0.3s ease,
  background-color 0.3s ease;

  &:hover {
    color: var(--txt-color);
    background: var(--main-color);
  }
}


// container
.container {
  &.small {
    @include tablet {
      width: 70%;
    }
    @include phone {
      width: 100%;
    }
  }
}