
$font-family: 'Poppins', sans-serif;

$main-color: #FF370F;
$secondary-color: #04242D;
$txt-color: #04242D;
$blue-color: #0C4D5D;
$gray-color: #F8F8F6;
$body-bg: #fff;

$index-8: 100;
$index-7: 50;
$index-6: 25;
$index-5: 15;
$index-4: 10;
$index-3: 5;
$index-2: 2;
$index-1: 1;
$index-0: -1;

$box-shadow: 12px 27px 39px 7px rgb(0 0 0 / 4%);

$tablet-width: 1024px;
$mobile-width: 600px;
$phone-width: 480px;