@use '../../../../scss' as *;

.diversity {
  
  .hero {
    position: relative;
    min-height: 65vh;
    background-size: cover;
    background-position: center top;
    background-image: url('../../../../assets/images/diversity/diversity-bg.jpg');

    .bg {
      inset: 0;
      background-color: #00000070;
      z-index: 1;
    }

    &__title {
      position: relative;
      font-weight: 400;
      font-size: 72px;
      margin-top: 0;
      color: #fff;
      z-index: 2;

      @include tablet {
        font-size: 52px;
      }
      @include phone {
        font-size: 28px;
      }
    }
  }
}